
mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
.column-flex{
  display: flex ;
  flex-direction: column;
  //min-width: 300px;
}

.example-spacer {
  flex: 1 1 auto;
}

.loading-spinner {
  padding: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);

}

.table-courses{
  padding: 25px;
  border-radius: 10px;
  border: black;
}

.toolbar-form-course{
  padding: 5px;
  border-radius: 10px;
}

