
//mar-card{
//  text-align: center;
//  align-items: center;
//}
//.mat-card-form-course

mat-card{
  padding: 25px;
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  border-radius: 10px;
}
.toolbar-form-course{
  border-radius: 10px;
  margin: 1em auto;
  text-align: center;
}
.full-width{
  width: 100%;
}

.min-width{
  width: 100%;
  min-width: 150px;
}

